name: Build and Push Docker Image

on:
  push:
    branches:
      - main

env:
  IMAGE_TAG: ${{ github.sha }}
  GAR_LOCATION: asia-southeast1
  IMAGE: main

jobs:
  pre_job:
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@v5

  build-and-push:
    needs: pre_job
    if: needs.pre_job.outputs.should_skip != 'true'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1.1.1
        with: 
          credentials_json: ${{ secrets.GCLOUD_AUTH }}

      - name: Set up gcloud Cloud SDK environment
        uses: google-github-actions/setup-gcloud@v1.1.1
        with:
          version: '>= 363.0.0'
          project_id: ${{ secrets.PROJECT_ID }}
      - name: Update gcloud components
        run: gcloud components update
      - name: Configure Docker
        run: |-
          gcloud auth configure-docker "$GAR_LOCATION-docker.pkg.dev"
      - name: 'Docker build'
        run: |-
          docker build \
          --tag "$GAR_LOCATION-docker.pkg.dev/${{ secrets.PROJECT_ID }}/${{ secrets.IMAGE_NAME }}/$IMAGE:$GITHUB_SHA" .

      - name: Push Docker image to Google Cloud
        run: |
          docker push "$GAR_LOCATION-docker.pkg.dev/${{ secrets.PROJECT_ID }}/${{ secrets.IMAGE_NAME }}/$IMAGE:$GITHUB_SHA"
          docker push "$GAR_LOCATION-docker.pkg.dev/${{ secrets.PROJECT_ID }}/${{ secrets.IMAGE_NAME }}/$IMAGE:latest"
